# Multiple Linear Regression Project

### The data in this project was obtained from Kaggle.

In [143]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
#import numpy as np

df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [144]:
df = pd.DataFrame(df)

In [145]:
encoded_df = pd.get_dummies(df, columns= ['sex', 'smoker'], drop_first=True)

In [146]:
print(encoded_df)

      age     bmi  children     region      charges  sex_male  smoker_yes
0      19  27.900         0  southwest  16884.92400         0           1
1      18  33.770         1  southeast   1725.55230         1           0
2      28  33.000         3  southeast   4449.46200         1           0
3      33  22.705         0  northwest  21984.47061         1           0
4      32  28.880         0  northwest   3866.85520         1           0
...   ...     ...       ...        ...          ...       ...         ...
1333   50  30.970         3  northwest  10600.54830         1           0
1334   18  31.920         0  northeast   2205.98080         0           0
1335   18  36.850         0  southeast   1629.83350         0           0
1336   21  25.800         0  southwest   2007.94500         0           0
1337   61  29.070         0  northwest  29141.36030         0           1

[1338 rows x 7 columns]

In [147]:
region_mapping = {
    'southwest':0,
    'southeast':1,
    'northwest':2,
    'northeast':3
}

In [148]:
encoded_df['region_numeric'] = df['region'].map(region_mapping)

In [149]:
print(encoded_df)

      age     bmi  children     region      charges  sex_male  smoker_yes  \
0      19  27.900         0  southwest  16884.92400         0           1
1      18  33.770         1  southeast   1725.55230         1           0
2      28  33.000         3  southeast   4449.46200         1           0
3      33  22.705         0  northwest  21984.47061         1           0
4      32  28.880         0  northwest   3866.85520         1           0
...   ...     ...       ...        ...          ...       ...         ...
1333   50  30.970         3  northwest  10600.54830         1           0
1334   18  31.920         0  northeast   2205.98080         0           0
1335   18  36.850         0  southeast   1629.83350         0           0
1336   21  25.800         0  southwest   2007.94500         0           0
1337   61  29.070         0  northwest  29141.36030         0           1

      region_numeric
0                  0
1                  1
2                  1
3                  2
4                  2
...              ...
1333               2
1334               3
1335               1
1336               0
1337               2

[1338 rows x 8 columns]

In [150]:
df2 = encoded_df.drop(columns=['region'], axis=1)

In [151]:
print(df2)

      age     bmi  children      charges  sex_male  smoker_yes  region_numeric
0      19  27.900         0  16884.92400         0           1               0
1      18  33.770         1   1725.55230         1           0               1
2      28  33.000         3   4449.46200         1           0               1
3      33  22.705         0  21984.47061         1           0               2
4      32  28.880         0   3866.85520         1           0               2
...   ...     ...       ...          ...       ...         ...             ...
1333   50  30.970         3  10600.54830         1           0               2
1334   18  31.920         0   2205.98080         0           0               3
1335   18  36.850         0   1629.83350         0           0               1
1336   21  25.800         0   2007.94500         0           0               0
1337   61  29.070         0  29141.36030         0           1               2

[1338 rows x 7 columns]

In [152]:
df2.head()

   age     bmi  children      charges  sex_male  smoker_yes  region_numeric
0   19  27.900         0  16884.92400         0           1               0
1   18  33.770         1   1725.55230         1           0               1
2   28  33.000         3   4449.46200         1           0               1
3   33  22.705         0  21984.47061         1           0               2
4   32  28.880         0   3866.85520         1           0               2

In [153]:
df3 = df2[['age', 'sex_male','bmi','children', 'smoker_yes', 'region_numeric','charges']]

In [154]:
df3.head()

   age  sex_male     bmi  children  smoker_yes  region_numeric      charges
0   19         0  27.900         0           1               0  16884.92400
1   18         1  33.770         1           0               1   1725.55230
2   28         1  33.000         3           0               1   4449.46200
3   33         1  22.705         0           0               2  21984.47061
4   32         1  28.880         0           0               2   3866.85520

In [155]:
#y = df3.charges.values
#x_raw_data = df3.drop(["charges"], axis =1)

#x = (x_raw_data - np.min(x_raw_data))/(np.max(x_raw_data)-np.min(x_raw_data))

In [156]:
#x.head()

In [157]:
#type(x)

In [158]:
# linear regression modeli tanımlıyoruz.

reg = linear_model.LinearRegression()
reg.fit(df2[['age', 'sex_male', 'bmi', 'children', 'smoker_yes', 'region_numeric']], df['charges'] )

LinearRegression()

In [159]:
reg.predict([[12, 0, 23.700, 2, 1,0 ]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([22872.16957129])

In [160]:
reg.predict([[32,1,28.880,0,0,2]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5537.6408972])

#### yeni veri dönüsüm

In [ ]:
#I am still working on the following part.

In [161]:
df_train = pd.DataFrame(df3)

In [167]:
df_train.head()

   age  sex_male     bmi  children  smoker_yes  region_numeric      charges
0   19         0  27.900         0           1               0  16884.92400
1   18         1  33.770         1           0               1   1725.55230
2   28         1  33.000         3           0               1   4449.46200
3   33         1  22.705         0           0               2  21984.47061
4   32         1  28.880         0           0               2   3866.85520

In [162]:
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(df_train[['sex_male', 'smoker_yes', 'region_numeric']])

In [163]:
model = LinearRegression()

In [165]:
model.fit(encoded_data, df_train['charges'])

LinearRegression()

In [168]:
new_data = {
    'age':[12],
    'sex': ['Male'], 
    'bmi':[23.134],
    'children': [3],
    'smoker':['yes'],
    'region':['northwest'] 
}

In [169]:
df_new = pd.DataFrame(new_data)

In [170]:
encoded_new_data = encoder.transform(df_new[['age']])
encoded_new_data = encoder.transform(df_new[['sex']])
encoded_new_data = encoder.transform(df_new[['bmi']])
encoded_new_data = encoder.transform(df_new[['children']])
encoded_new_data = encoder.transform(df_new[['smoker']])
encoded_new_data = encoder.transform(df_new[['region']])

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- age
Feature names seen at fit time, yet now missing:
- region_numeric
- sex_male
- smoker_yes